<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="tessdatapath" value="D:\robobraille.webapi.private.beta\robobraille.webapi\tessdata" />
    <add key="calibrepath" value="C:\calibreportable\calibre portable\calibre" />
    <add key="bindirectory" value="C:\Users\Administrator\Source\Repos\RoboBrailleWebApi\RoboBraille.WebApi\bin" />
    <add key="FileDirectory" value="C:\RoboBrailleWebApi\" />
    <add key="TestDirectory" value="D:\RoboBraille.WebApi.Private.Beta\RoboBraille.TestCases\" />
    <add key="ResultDirectory" value="D:\RoboBraille.WebApi.Private.Beta\RoboBraille.TestResults\" />
  </appSettings>
  <connectionStrings>
    <!--<add name="RoboBrailleJobDB" connectionString="Data Source=ASTRO; Initial Catalog=RoboBrailleJobDB; Integrated Security=True;" providerName="System.Data.SqlClient" />-->
  <add name="RoboBrailleJobDB" connectionString="Data Source=.\SQLEXPRESS; Initial Catalog=RoboBrailleJobDB; Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>