<div class="jumbotron">
    <h1>Welcome to RoboBraile Web API</h1>
    <p class="lead">Here you can see all necessary information to get started with using our api.</p>
    <p><a href="https://robobraille.org" class="btn btn-primary btn-lg">See the original web application &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Learn how to create your own client towards our API. Checkout our guide.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Ask for an API key</h2>
        <p>Contact <a href="www.sensus.dk">Sensus</a> to request an account for the API and choose the most suitable tarif plan.</p>
    </div>
    <div class="col-md-4">
        <h2>Open source version</h2>
        <p>Checkout our open source version on <a href="https://github.com/sensusaps/RoboBraille.Web.API">GitHub</a>. It does not come with conversion libraries.</p>
    </div>
</div>